<html>
	<head>
		<title>[onshow.main_title]:[onshow.page_title]</title>
		<link rel="stylesheet" type="text/css" href="[onshow.home]/includes/global.css" />
		
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '[onshow.analytic_account;magnet=script]']);
			_gaq.push(['_setDomainName', '[onshow.analytic_domain;magnet=script]']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	
	<body>
		<div class="ContentWrap">
			<div class="Header">
				<div class="breadcrumbs">
					<a href="[onshow.home]">Main Album </a> / <a href="/[bread.path;block=a+b]"> [bread.name] </a><b>/</b>
				</div>
			</div>
		<!--<div class="wrapper">-->