<html>
	<head>
		<title>[onshow.MAIN_TITLE]:[onshow.page_title]</title>
		<link rel="stylesheet" type="text/css" href="[onshow.HOME]/includes/global.css" />
	</head>
	
	<body>
		<div class="ContentWrap">
			<div class="Header">
			<div class="breadcrumbs">
				<a href="[onshow.HOME]">Main Album </a> / <a href="[bread.path;block=a+b]"> [bread.name] </a><b>/</b>
			</div>
			<div class="directories">
				<div class="album">
					<a href="[dirs.path;block=div;bmagnet=(div)]" class="photoborders" title="View the photos in [dirs.name]" ><img class="dir_thumb" src="[dirs.thumb_path]" alt="[dirs.name]" /></a>
					<a href="[dirs.path]" title="View the photos in [dirs.name]">[dirs.name]</a>
				</div>
			</div>
			</div>