[onload;file=templates/header.htm]
	
			<div class="directories">
				<div class="album">
					<a href="[onshow.request][dirs.val;block=div;bmagnet=(div)]" title="View the photos in [dirs.val]" class="photoborders"><img src="/gallery/images/" width="100" height="100" alt="[dirs.val]" /></a>
					<h2><a href="[onshow.request][dirs.val]" title="View the photos in [dirs.val]">[dirs.val]</a></h2>
				</div>
			</div>
			

			<div class="pictures">
				<img src="[onshow.request][files.val;block=img;bmagnet=div]" alt="[files.val]" width="100" height="100"/>
			</div>
			
[onload;file=templates/footer.htm]