[onload;file=templates/header.htm]
		<div class="Content">
			<div class="breadcrumbs">
				<a href="[onshow.home]">Main Album </a> / <a href="[bread.path;block=a+b]"> [bread.name] </a><b>/</b>
			</div>
			<div class="directories">
				<div class="album">
					<a href="[dirs.path;block=div;bmagnet=(div)]" title="View the photos in [dirs.name]" ><img src="[dirs.thumb_path]" width="100" height="100" alt="" /></a>
					<a href="[dirs.path]" title="View the photos in [dirs.name]">[dirs.name]</a>
				</div>
			</div>
			

			<div class="pictures">
				<img src="[onshow.request][files.val;block=img;bmagnet=div]" alt="[files.val]" width="100" height="100"/>
			</div>
		</div>
[onload;file=templates/footer.htm]